@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  .dark\:bg-white {
    background-color: white;
  }
}

.main
{
  min-height: 78.7vh;
  flex-direction: column;
}

.wt-title {
  @apply text-3xl font-bold underline mb-10;
}

.changement
{
  margin-left: 40%;
  position: absolute;
  padding: 1%;
}

.changement img
{
 width: 75;
 height: 38;
}

.footic 
{
 margin-left: 32%;
 font-size: 75px;
}



.header img{
  display:inline-block;
  margin: auto;
  padding: 3px;
}
.header2 img{
  display: inline;
}
.header3 img{
  display: inline;
}
.header4 img{
  display: inline;
}
.header5 img{
  display: inline;
}
.header {
@apply overflow-hidden bg-gray-200 h-40;
background-color: rgba(241, 241, 241, 1)
}

.header a {
@apply float-left text-black text-center p-3 no-underline text-lg leading-6 rounded
}

.header a.logo {
@apply text-2xl font-bold;
font-weight: bold;
}

.header a.hover{
@apply text-black
}


.header a.active {
@apply bg-gray-700 text-white;
background-color: rgba(97, 106, 116, 1)
}

.header-right {
@apply float-right p-5
}


.dark {
  @apply bg-gray-800 text-zinc-50
}

.dark .card2 p[type="p1"],
.dark .card2 p[type="p2"],
.dark .card p{
  @apply text-zinc-50

}
.dark input,p
{
  @apply text-neutral-900
}
.blue input,p
{
  @apply text-neutral-900
}
.orange input,p
{
  @apply text-neutral-900
}

.green input,p
{
  @apply text-neutral-900
}


.header2 {
  @apply overflow-hidden bg-gray-200 h-40;
  @apply bg-gray-700 text-zinc-50
  }
  
  .header2 a {
  @apply float-left text-zinc-50 text-center p-3 no-underline text-lg leading-6 rounded
  }
  
  .header2 a.logo {
  @apply text-2xl font-bold;
  font-weight: bold;
  }
  
  .header2 a.hover{
  @apply text-white
  }
  
  
  .header2 a.active {
  @apply bg-gray-700 text-white;
  @apply bg-gray-800 text-zinc-50
  }
  
  .header2-right {
  @apply float-right p-5
  
  }



.orange {
  @apply bg-orange-200 text-neutral-900
}

.orange .card2 p[type="p1"],
.orange .card2 p[type="p2"],
.orange .card p{
  @apply text-neutral-900
}


.header3 {
  @apply overflow-hidden bg-gray-200 h-40;
  @apply bg-neutral-900 text-zinc-50
  }
  
.header3 a {
@apply float-left text-zinc-50 text-center p-3 no-underline text-lg leading-6 rounded
}

.header3 a.logo {
@apply text-2xl font-bold;
font-weight: bold;
}

.header3 a.hover{
@apply text-white
}


.header3 a.active {
@apply bg-gray-700 text-white;
@apply bg-gray-800 text-zinc-50
}

.header3-right {
@apply float-right p-5

}




.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
  width : 100%;
  text-align: center;

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 10%;
}



.card2 {
  margin: 0.9rem;
  padding: 1.2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card2:hover,
.card2:focus,
.card2:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card2 img[type='yesbb']
{
  margin-left: 90%;
}

.card2 p[type="p1"]{
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: -15%;
  margin-bottom: 1%;
  text-align: center;
  height: fit-content;
  max-width: 400ch;
  margin-right: 15%;
  margin-left: 25%;

}


.dark .color label,
.dark .color input
{
 color: azure; 
}



/* @apply bg-sky-300 text-neutral-800 */





.blue .color input
{
  background-color:azure;
  color:midnightblue;
}
.blue .color input::placeholder
{
  color:midnightblue;
}

.blue .color label
{
  color:rgb(36, 36, 36); 
}

.blue .color button
{
 @apply bg-zinc-200 text-neutral-900;
}

.blue .color button:hover
{
  color:azure;
  background-color:#075985;
}

.blue .color a
{
  @apply  text-zinc-900;
}








.green .color input
{
  background-color:black;
  background-color:rgb(157, 204, 138);
}
.green .color input::placeholder
{
  color:dimgray;
}

.green .color label
{
  color:rgb(36, 36, 36); 
}

.green .color button
{
  @apply bg-emerald-500 text-neutral-900;
  background-color: rgb(218, 218, 189);
}

.green .color button:hover
{
  @apply  text-emerald-500;
  background-color:rgb(74, 74, 74);
}

.green .color a
{
  @apply  text-zinc-500;
}



.orange .color input
{
  background-color: #ffedd5;
  @apply text-neutral-900 
}

.orange .color label
{
  @apply  text-neutral-900
}

.orange .color button
{
  color: #ffedd5;
  background-color:rgb(44, 43, 43);
}

.orange .color button:hover
{
  color: #ffedd5;
  background-color:rgb(74, 74, 74);
}



.card2 p[type="p2"]{
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: -15%;
  margin-bottom: 12%;
  margin-left:20%;
  margin-right: 15%;

}

.card2 h1 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  margin-left: 0.5%;
  margin-top: 2%;
}

.card2 h6{
  margin-left: 80%;
  margin-top: -3%;
}

.card2 button{
  margin-top: 10%;
  margin-left: 1% ;
  margin-right: 1% ;
}

.card2 button[type="pe3"]{
margin: auto;
margin-bottom: 2%;
margin-top: 2%;
margin-left: 1% ;
margin-right: 1% ;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}


.blue {
  @apply bg-sky-300 text-neutral-800
}

.blue .card2 p[type="p1"],
.blue .card2 p[type="p2"],
.blue .card p{
  @apply text-neutral-800
}

.header4 {
  @apply overflow-hidden bg-neutral-800 h-40;
  @apply bg-neutral-800  text-zinc-50
  }
  
  .header4 a {
  @apply float-left text-zinc-50 text-center p-3 no-underline text-lg leading-6 rounded
  }
  
  .header4 a.logo {
  @apply text-2xl font-bold;
  font-weight: bold;
  }
  
  .header4 a.hover{
  @apply text-white
  }
  
  
  .header4 a.active {
  @apply bg-neutral-800  text-white;
  @apply bg-neutral-800  text-zinc-50
  }
  
  .header4-right {
  @apply float-right p-5
  
  }


.green {
  @apply bg-emerald-500 text-zinc-50
}

.green .card2 p[type="p1"],
.green .card2 p[type="p2"],
.green .card p{
  @apply text-zinc-50

}


.header5 {
  @apply overflow-hidden  bg-slate-200  h-40;
  @apply bg-slate-100 text-zinc-900;
  }
  
  .header5 a {
  @apply float-left text-zinc-900 text-center p-3 no-underline text-lg leading-6 rounded
  }
  
  .header5 a.logo {
  @apply text-2xl font-bold;
  font-weight: bold;
  }
  
  .header5 a.hover{
  @apply text-white
  }
  
  
  .header5 a.active {
  @apply bg-neutral-800 text-white;
  @apply bg-neutral-800  text-zinc-900
  }
  
  .header5-right {
  @apply float-right p-5
  
  }


.dark .card:hover,
.dark .card:focus,
.dark .card:active,
.dark .card2:hover,
.dark .card2:focus,
.dark .card2:active,
.dark .card2:hover p[type="p1"],
.dark .card2:hover p[type="p2"],
.dark .card:hover p
{
  color :darkseagreen;
  border-color: darkseagreen;
}


.orange .card:hover,
.orange .card:focus,
.orange .card:active,
.orange .card2:hover,
.orange .card2:focus,
.orange .card2:active ,
.orange .card2:hover p[type="p1"],
.orange .card2:hover p[type="p2"],
.orange .card:hover p
{
  color:black;
  border-color: black;
  background-color: #ffedd5;
}


.blue .card:hover,
.blue .card:focus,
.blue .card:active,
.blue .card2:hover,
.blue .card2:focus,
.blue .card2:active,
.blue .card2:hover p[type="p1"],
.blue .card2:hover p[type="p2"],
.blue .card:hover p{
  color:azure;
  border-color: darkblue;
  background-color: #075985;
}


.green .card:hover,
.green .card:focus,
.green .card:active,
.green .card2:hover,
.green .card2:focus,
.green .card2:active,
.green .card2:hover p[type="p1"],
.green .card2:hover p[type="p2"],
.green .card:hover p{

  color:dimgray;
  border-color: dimgray;
  background-color:beige;
}


.userform2 {
  position:static;
  width: 85%;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 40px 50px; /* ajout d'un marge de 10px à gauche et à droite */
}




.userform2 h2 {
  text-align: center;
  font-size:larger;
}

.userform2 label {
  font-size: 16px;
  margin-bottom: 10px;
}

.userform2 input[type="text"],
.userform2 input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}


.userform6{
  width: 60%;
  align-items: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 3%;
}



.userform6 h2 {
  text-align: center;
  font-size:larger;
}

.userform6 label {
  font-size: 16px;
  margin-bottom: 10px;
}

.userform6 input[type="text"],
.userform6 input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.userform3 {

  width: 110%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: -10px -15%; /* ajout d'un marge de 10px à gauche et à droite */
  align-items: center;
  height: fit-content;
  margin-right: 20%;
  position:static;
}


.orange .userform3 {

  border: 1px solid  rgba(97, 106, 116, 1);
  border-radius: 5px;

}

.orange .userform2 {

  border: 1px solid  rgba(97, 106, 116, 1);
  border-radius: 5px;

}
.orange .userform6 {

  border: 1px solid  rgba(97, 106, 116, 1);
  border-radius: 5px;

}



.orange .pays {

  border: 1px solid  rgba(97, 106, 116, 1);
  border-radius: 5px;

}


.orange .addteamform {

  border: 1px solid  rgba(97, 106, 116, 1);
  border-radius: 5px;

}


.green .pays select,
.dark .pays select{

  color: black;
}


.green .addteamform select,
 .dark .addteamform select{

  color: black;
}


.blue .userform3 {

  border: 1px solid rgb(7, 61, 169); 
  border-radius: 5px;

}

.blue .userform2 {

  border: 1px solid  rgb(7, 61, 169); 
  border-radius: 5px;

}

.blue .userform6 {

  border: 1px solid  rgb(7, 61, 169); 
  border-radius: 5px;

}


.blue .pays {

  border: 1px solid  rgb(7, 61, 169); 
  border-radius: 5px;

}


.blue .addteamform {

  border: 1px solid  rgb(7, 61, 169); 
  border-radius: 5px;

}


.green .userform3 {

  border: 1px solid #ffedd5;
  border-radius: 5px;

}

.green .userform2 {

  border: 1px solid  #ffedd5;
  border-radius: 5px;

}

.green .userform6 {

  border: 1px solid  #ffedd5;
  border-radius: 5px;

}


.green .pays {

  border: 1px solid  #ffedd5;
  border-radius: 5px;

}


.green .addteamform {

  border: 1px solid  #ffedd5;
  border-radius: 5px;

}



.userform3 h2 {
  text-align: center;
  font-size:larger;
}

.userform3 label {
  font-size: 16px;
  margin-bottom: 10px;
}


.userform4{
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: -10px 200px; /* ajout d'un marge de 10px à gauche et à droite */
  align-items: center;
  height: fit-content;
  margin-bottom: 50px;

}

.userform4 h2 {
  text-align: center;
  font-size:larger;
}

.userform4 label {
  font-size: 16px;
  margin-bottom: 10px;
}





.pays 
{ 
  margin-top: 8%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

.pays img
{ 
  margin-bottom: 3%;
  margin-left: 45%;
}


.pays button
{ 
  margin-left: 90%;
}






.addteamform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addteamform label {
  font-size: 16px;
  margin-bottom: 10px;
}

.addteamform input[type="text"],
.addteamform input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}


.addteamform button[type="submit"] {
  width: 100%;
  background-color: #73a575;
  color: white;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addteamform button[type="submit"]:hover {
  background-color: #86c489;
}

.addteamform select {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}




.addteamform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addteamform label {
  font-size: 16px;
  margin-bottom: 10px;
}

.addteamform input[type="text"],
.addteamform input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
