@tailwind base;
@tailwind components;
@tailwind utilities;

.wt-title {
  @apply text-3xl font-bold underline mb-10;
}

.header {
@apply overflow-hidden bg-gray-200;
background-color: rgba(241, 241, 241, 1)
}

.header a {
@apply float-left text-black text-center p-3 no-underline text-lg leading-6 rounded
}


.header a.logo {
@apply text-2xl font-bold;
font-weight: bold;
}

.header a.hover{
@apply text-black
}


.header a.active {
@apply bg-gray-700 text-white;
background-color: rgba(97, 106, 116, 1)
}

.header-right {
@apply float-right p-5
}

