.footer {
  @apply flex justify-center items-center }

.footer a {
  @apply flex justify-center items-center flex-grow 
}


.container 
{ 
 @apply py-0 px-8
}

.main{
@apply min-h-screen flex flex-col justify-center items-center
}

.title a {
@apply text-blue-600 no-underline

}


.title a:active
{
@apply underline
}

.title a:hover{
  @apply underline
  }

.title a:focus{
  @apply underline
  }


.title {
@apply m-0 text-6xl;
}

.title, .description 
{
@apply text-center

}

.description{
@apply leading-normal text-2xl

}

.code{
  @apply bg-gray-100 rounded p-3 text-lg
}

.grid {
  display: grid;
  align-items: stretch;
  grid-gap : 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
 @apply m-4 p-6 text-left no-underline
}

.card :hover,
.card:focus,
.card:active{
  @apply text-blue-600 border-blue-600
}

.card h2
{
  @apply text-2xl
}


.card p
{
 @apply m-0 text-xl leading-normal
}


.card li {
@apply text-xl m-0;
line-height: 1.2;
}

.logo{
  @apply ml-2
}


